[2018-06-10 21:36] olafurpg opened #2 "Automatically run scalafmtSbt on reload"
Originally reported by @ches in  https://github.com/scalameta/scalafmt/issues/1208

- **Version**: 1.6.0-RC1
- **Integration**: sbt-scalafmt

## Problem

sbt-scalafmt can keep project source formatted with `scalafmtOnCompile`, but needs a separate step of `scalafmtSbt` to maintain formatting of the build too.

Through [some tricks], neo-sbt-scalafmt made it possible to have automatic formatting of

[2018-06-28 15:26] OlegYch opened #5 "java.util.regex.PatternSyntaxException: Unclosed group near index 9 [error] (target\)"
running sbt-scalafmt 1.6.0-RC3 on windows
executing either `scalafmt` or `scalafmSbt`

[2018-06-28 15:40] OlegYch commented on #5
why are you guys passing raw strings to regex? what if filename contains ? or [
noticed same issue in scalafix https://github.com/scalacenter/scalafix/issues/583

[2018-06-28 15:43] olafurpg commented on #5
Thanks for reporting. This was a piece of code I wrote in my early days and
got copy pasted around. The correct solution I believe is to use nio
PathMatcher and that's what scalafix in current master does. PRs welcome!

On Thu, 28 Jun 2018 at 17:40, OlegYch <notifications@github.com> wrote:

[2018-07-29 17:00] tanishiking opened #7 "Throw an exception instantly if the specified config file contains invalid config"
Currently (1.6.0-RC4), sbt-scalafmt fallback to default config if specified configuration is invalid.

- https://github.com/scalameta/scalafmt/blob/379c2d097192da6417313a9146f3f50689ca7834/scalafmt-core/shared/src/main/scala/org/scalafmt/util/StyleCache.scala#L17-L19
- https://github.com/scalameta/sbt-scalafmt/blob/5342ffe443a96000f29cd13cc211092fdf4e9bfa/plugin/src/main/scala/org/scalafmt/sbt/Sca

[2018-08-01 10:39] tanishiking commented on #7
Merged https://github.com/scalameta/sbt-scalafmt/pull/8

[2018-08-01 10:39] #7 closed

[2018-10-19 13:53] kailuowang opened #9 "`scalafmtOnCompile` takes too long"
Right now if we turn this on, it causes a 5-10 second overhead when compiling Cats.  I got the impression it's checking all files in the project rather than incremental. Is this true? If so is it something that can be improved?

[2018-10-19 14:03] olafurpg commented on #9
Thanks for reporting! I thought the scalafmt task had been made incremental in https://github.com/scalameta/scalafmt/pull/1136 but it seems it still checksums all files on every run which may still be significant time for larger projects. I am sure this can be improved, I haven't tried myself but the `compile` task returns an analysis data structure that contains timestamps and filepaths that mayb

[2018-10-19 14:18] kailuowang commented on #9
Thanks @olafurpg . Peronally I don't prefer format on compile either, but I thought it less evil than requiring a manual step. We are considering git pre-commit hook but the addition of a pre-commit hook is still a manual step. Do you happen to know a fully automated way to reformat of the code?

[2019-01-21 00:42] blast-hardcheese opened #11 "project.git = true seems to be ignored when using sbt-scalafmt"
### Setup
[code]

### .scalafmt.conf:
[code]
### .gitignore
[code]

despite this, when running `scalafmtCheck`, I still get files that are explicitly ignored (under `modules/sample*/src/main/scala/generated`)

[2019-01-21 00:45] blast-hardcheese opened #12 "Unparsable file falls back to defaults"
### Setup
addSbtPlugin("com.geirsson" % "sbt-scalafmt" % "1.5.1")

### Description
Seems as though #7 has resurfaced; In a project that has a `.scalafmt.conf`, simply add a bare string to the top of the file, like so:

[code]

[2019-02-01 10:08] dwijnand opened #15 "Support Scalafmt 2"
Scalafmt 2 is currently in pre-release (https://github.com/scalameta/scalafmt/releases/tag/v2.0.0-RC4).

It would be nice to continue to have the same tight integration with sbt, but with the new version of Scalafmt.

[2019-02-03 17:55] ches commented on #15
Wondering if we can compile a checklist here of what needs to be done—note @olafurpg's
https://github.com/scalameta/sbt-scalafmt/pull/13#issuecomment-459348387 about the removal of scalafmt-big and introduction of [scalafmt-dynamic](https://github.com/scalameta/scalafmt/issues/1318) (which should allow sbt-scalafmt's release cycle to be decoupled from scalafmt versions going forward).

A nice one

[2019-02-20 17:03] ivashin opened #17 "Generate warnings for all unformatted files when running scalafmtCheck"
Currently `scalafmtCheck` generates an error for the first unformatted file found and fails the task. My suggestion is to have an ability to generate warnings for all unformatted files instead.

I think this may allow cleaner integration into development process by hinting the developer to run the formatter without being overly intrusive (as opposed to `scalafmtOnCompile`).

This behavior may be c

[2019-02-21 13:49] torkelrogstad opened #18 "scalafmt sbt task with diff option"
Is it possible to invoke `sbt scalafmt`/`sbt test:scalafmt` with the `--diff` and `--diff-branch` options available in the CLI?

[2019-02-28 13:09] tanishiking commented on #15
I'm working on progress on supporting sbt-scalafmt to use `scalafmt-dynamic` https://github.com/tanishiking/sbt-scalafmt/commit/863ff86e1a00a99cea10259834a07ba65f4115c4
In order to continue to support `scalafmtCli` command, it is necessary that https://github.com/scalameta/scalafmt/pull/1366 is released. FYI @olafurpg

[2019-02-28 13:13] olafurpg commented on #15
@tanishiking Sounds good, you should be able to cut a new release at https://github.com/scalameta/scalafmt/releases/new the CI publishes artifacts on tag push. Note that the sbt plugin cannot depend on scalafmt-core directly, we'll need to use only scalafmt-dynamic

[2019-02-28 13:37] raboof opened #19 "Release"
There seem to be a number of useful changes merged (notably #13) - perhaps it is time to cut another release?

[2019-02-28 14:28] tanishiking commented on #15
OK, I'll cut the new release (v2.0.0-RC5) :rocket:

[2019-02-28 18:39] olafurpg commented on #15
Looks like it's already out!
[code]

[2019-03-02 10:17] olafurpg commented on #19
Thanks for reporting! This is a duplicate of #15

[2019-03-02 10:17] #19 closed

[2019-03-05 13:53] #15 closed

[2019-03-05 17:40] dwijnand commented on #9
Fixed by #13, which shipped in sbt-scalafmt 2.0.0-RC5?

[2019-03-12 11:57] ennru opened #22 "Removed file puts scalafmt off"
I've sbt-scalafmt running on compile and work in a `~ test` cycle.

When I remove a file scalafmt is missing it so much that it fails:

[code]

After a `clean` everything is good again.

[2019-03-13 09:26] #22 closed

[2019-03-13 10:45] ennru commented on #22
@poslegm Thank you for rapid fixing!

[2019-03-13 14:07] jrudolph opened #25 "scalaFmt is extremely slow"
In some way, it's a duplicate of #9. However, even if you take the use case of "format of compile" (which is a valid use case for some users) out of the picture, it's still almost too slow to be usable in bigger projects. E.g. akka recently switched to scalafmt and reformatting the whole project takes ~200s. Just validating the formatting for PR validation adds takes several minutes on our build s

[2019-03-13 15:24] olafurpg commented on #25
Thanks for reporting! It might be that the switch to dynamic classloading resulted in a large slowdown. It's worth looking into, I believe we cache the classloader but maybe I overlooked something. I personally don't use the sbt plugin and don't recommend "format on compile".

The way I use Scalafmt is "format on save" in the editor and `./scalafmt --diff` from the cli before opening pull requests

[2019-03-13 15:45] olafurpg commented on #25
I ran `scalafmt` on all sources in the Akka build (2k source files) with my MacBook and it took ~110-130 seconds

[code]

I'm not sure why it's slower in sbt, maybe it's not as parallel as the cli 🤔

My experience using Scalafmt is that most PRs only change a few files so running `./scalafmt --diff` normally completes in <5s even for large PRs, which is still tragically slow but manageable. With f

[2019-03-14 00:09] #25 closed

[2019-03-14 01:00] #17 closed

[2019-03-14 02:14] tanishiking commented on #12
@blast-hardcheese As of sbt-scalafmt 2.0.0-RC5,  sbt-scalafmt will throw an exception immediately instead of falling back to defaults when `.scalafmt.conf` is unparsable (or invalid).
Could you upgrade sbt-scalafmt ?

Besides, sbt-scalafmt 2.0.0-RC5 has a feature that switches the running version of scalafmt using `version` in `.scalafmt.conf` (like `version = 1.5.1`).

[2019-03-14 21:47] poslegm commented on #18
@torkelrogstad Is this issue actual after incremental formatting introducing? Now sbt plugin can format only files changed after last compilation.

Scalafmt CLI needs git to format only last edited files but `sbt-scalafmt` has access to sbt cache.

[2019-03-15 13:36] olafurpg commented on #18
I think this is still a desirable feature for people who are not using format on compile, I personally use `--diff` + format on save in the editor.

[2019-03-18 16:05] torkelrogstad commented on #18
The use case here is getting better diffs for writing patches/PRs. If I'm changing a file I would like for it to be formatted, whereas files I don't touch shouldn't end up in the PR

[2019-03-28 22:07] robbyki opened #31 "Dependency Resolution using sbt plugin for Latest Release"
What's the trick to getting the sbt plugin for latest 2.0.0-RC5 to install and resolve dependency? trying to add `addSbtPlugin("com.geirsson" % "sbt-scalafmt" % "2.0.0-RC5")` to my `plugins.sbt` and have the following repos but still running into dependency not found issues. Trying this with scala 2.11. Had no issues with `1.6.0-RC4`.  These are the locations that were attempted:
[code]
And I'm gu

[2019-03-28 22:12] #31 closed

[2019-04-24 16:32] poslegm commented on #11
@olafurpg @tanishiking
I found that `project.git` flag handling [encapsulated](https://github.com/scalameta/scalafmt/blob/master/scalafmt-cli/src/main/scala/org/scalafmt/cli/CliOptions.scala#L205) in `CliOptions`. So it is scalafmt-cli specific feature yet (correct me if I am wrong).

We can copy-paste that code into this project but it is not seems good decision. Can we make this code reusable (m

[2019-04-25 08:17] bergmark opened #32 "Allow formatting without a .scalafmt.conf?"
The documentation for sharing a scalafmt config between projects suggests:

[code]

What about allowing usage of `--config-str <value>` so a file doesn't need to be written?

[2019-04-25 08:19] olafurpg commented on #32
Thanks for reporting! I'm afraid `--config-str <value>` would be problematic because the .scalafmt.conf file is needed for other integrations like the IntelliJ plugin and Metals to use the same configuration as the build.

[2019-04-25 08:19] #32 closed

[2019-06-13 11:48] akaczynski opened #35 "Project license"
Hi,
my question is about license of the project. While I can see "license name" entry in the ivy xml for jars which refers to Apache2.0 I can not see something like that for the source code (while scalafmt projects has). Is there any particulars purpose in that? Does it mean that binary is under Apache and source code not?

[2019-06-13 22:56] poslegm commented on #35
@akaczynski Source code is under Apache 2.0 license. I added it to the repo.

[2019-06-14 05:38] akaczynski commented on #35
thanks, I think that is clear right now 👍

[2019-06-14 05:38] #35 closed

[2019-07-09 21:34] exoego opened #37 "It is unclear what scalafmt version is supported"
# Problem
I think it is unclear which scalafmt `version` in `.scalafmt.conf` the sbt-scalafmt supports.
E.g. `version = 2.0.0-RC7` for `addSbtPlugin("org.scalameta" % "sbt-scalafmt" % "2.0.1")`.

This makes it difficult to implement automatic update `sbt-scalafmt` in Scala Steward https://github.com/fthomas/scala-steward/issues/625, since a PR to update `sbt-scalafmt` may be broken if `version` in

[2019-07-09 22:02] exoego commented on #5
I can format files when using `"sbt-scalafmt" % "2.0.2"` on Windows.
Perhaps this issue is resolved somewhere after `1.6.0-RC3` ?

[2019-07-11 20:09] poslegm commented on #37
@exoego Hello! Do you have any errors when using sbt-scalafmt v2.0.1 with scalafmt `version` in config 2.0.0-RC7? I can't reproduce it, plugin fetches specified formatter version correct.

So there is no strict relation between version in `.scalafmt.conf` and plugin version. Or did I get something wrong?

[2019-07-11 23:17] exoego commented on #37
Ah, you are totally correct !!
`version=2.0.0-RC7` or even `version=2.0.0` works fine with `sbt-scalafmt 2.0.2`.
I did not know `sbt-scalafmt` fetches the specified formtter.
So `version` in `.scalafmt.conf` can be updated separately with `sbt-scalafmt`.

Closing since this is my misunderstanding.
Thanks !!

[2019-07-11 23:17] #37 closed

[2019-07-12 12:15] sebdiem commented on #31
@robbyki How did you finally solve this ? I am running into the same issue : cannot find a way to install the sbt plugin without a  "dependency not found" error.

[2019-07-12 12:19] exoego commented on #31
GroupId has been changed.
Use `addSbtPlugin("org.scalameta" % "sbt-scalafmt" % "2.0.2")`

[2019-07-12 12:19] robbyki commented on #31
@sebdiem stuck with using `addSbtPlugin("org.scalameta" % "sbt-scalafmt" % "2.0.0")` which works nicely for what I need right now.

[2019-08-05 16:34] bjaglin opened #38 "scalafmt invoked again despite successful task execution"
Non-formatted sources need 2 task executions for cache to kick-in. The second execution [does not update the sources](https://github.com/scalameta/sbt-scalafmt/blob/443d75e284c749bd779f37d4259f94b3b632eec9/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L134), but we still pay the price of computation for nothing.

Actual (cold start, 58 sources, 23 needs formatting)
[code]

Expected (

[2019-08-05 16:36] bjaglin opened #39 "scalafmt & scalafmtCheck do not share the same cache"
Actual (cold start, 42 sources)
[code]

[code]

Expected (cold start, 42 sources)
[code]
[code]

[2019-08-05 17:10] bjaglin opened #41 "updating scalafmtConfig does not invalidate the scalafmt/scalafmtCheck caches"
Actual (cold start, 58 sources already formatted)
[code]

Expected (cold start, 58 sources already formatted)
[code]

[2019-08-05 17:33] poslegm commented on #41
Related discussion https://github.com/scalameta/scalafmt/issues/1401

[2019-08-06 09:49] bjaglin commented on #41
Note that there is another level of caching in `ScalafmtDynamic`, which is broken when fed with an invalid config file: https://github.com/scalameta/scalafmt/issues/1442

[2019-08-07 12:29] #38 closed

[2019-08-07 12:29] #39 closed

[2019-08-07 12:40] bjaglin commented on #41
Fixed by #40 (automatic close didn't work as issue was not referenced properly)

[2019-08-07 12:40] #41 closed

[2019-08-08 15:28] jrudolph opened #42 "Cache behavior of scalafmtCheck wrt errors could be improved"
/cc @bjaglin

[2019-08-08 15:33] jrudolph commented on #42
No, the problem was actually related to errors reported by `scalafmtCheck`. What happens is that the cache isn't stored when there's an error. What should happen instead is that the cache should be stored for all valid checks but not for the invalid ones, so that on rerun only the previous errors should be rechecked / re-reported.

[2019-08-08 15:49] poslegm commented on #42
Yes, it is not regression in 2.0.3. Reproduces in 2.0.1.

It it what you want?

### Current behavior
[code]

### Expected behavior
[code]

[2019-08-08 15:56] bjaglin commented on #42
Indeed, `scalafmtCheck` is not incremental when at least one file was not formatted at the last run.

Calling https://github.com/sbt/util/blob/7431dbd/util-tracking/src/main/scala/sbt/util/Tracked.scala#L301 again if the cached function fails (and return a subset of files) should allow us to update the cache with the validated sources only. I can take a look at that since the code is still fresh i

[2019-08-08 20:38] jrudolph commented on #42
Thanks a lot!

[2019-08-09 07:38] bjaglin opened #45 "updating the config at the same time as a source file should invalidate incremental runs"
#40 only solved partially #41

[2019-08-27 09:59] #42 closed

[2019-08-27 09:59] #45 closed

[2019-09-06 16:00] NeQuissimus opened #48 "Invalid config errors swallowed"
I just ran into a weird situation.

Here is my scalafmt config:

[code]

When I ran `sbt scalafmtSbt` (other tasks had similar output), I got the following:

[code]

So I grabbed the `scalafmt` CLI via `coursier` and ran `./scalafmt`

The output was a whole lot of these (essentially once per file in the project):

[code]

Apparently, `SortImports` and `ExpandImportSelectors` are incompatible with

[2019-09-16 09:38] #48 closed

[2019-09-30 20:25] bjaglin opened #51 "[2.0.4+] Managed sources from meta builds should not be formatted/checked"
### Steps to reproduce

Set up a basic project where the meta build has managed sources (in this case, a dummy twirl Scala template)

`.scalafmt.conf`
[code]

`project/plugins.sbt`
[code]

`project/build.sbt`
[code]

`project/src/main/twirl/template.scala.txt`
[code]

`project/project/plugins.sbt`
[code]

### Actual
[code]

### Expected
`sbt scalafmtSbtCheck` succeeds - managed sources are ignored

[2019-09-30 20:27] bjaglin commented on #51
I can't reproduce this with `2.0.3`, but I can with `2.0.4`, so it seems that https://github.com/scalameta/sbt-scalafmt/pull/46/files#diff-0a93a8dada6761d84102326db6ef7b1fR271-R274 changed the behavior somehow.

[2019-09-30 21:36] bjaglin commented on #51
I can't think of any "proper way" to solve this - assuming it's considered a problem obviously, but I think it is confusing as other non-sbt managed sources are ignored.

Ideas:
* We could blacklist paths for the default `managedSources` instead of simply collecting all `*.scala` files, but we cannot know if they have been customized (AFAIK there is no way to access settings values across meta-bui

[2019-10-08 15:51] tanishiking opened #53 "Introduce scala-steward"
@scala-steward is a bot that creates PRs to update the dependencies, which is tried and trusted by a bunch of scala projects https://github.com/scala-steward-org/repos/blob/master/repos.md
It must be helpful for us to update dependencies 👍

Since sbt-scalafmt doesn't have so many dependencies, I think we can manage the PRs from scala-steward easily. (probably, scalameta/scalafmt needs to organize

[2019-10-08 16:01] poslegm commented on #53
It's definitely a good idea 👍

[2019-10-11 14:29] bjaglin commented on #51
@poslegm do you have any idea/preference regarding how to handle this? I'd be happy to work on a PR if we can agree upfront.

[2019-10-11 17:07] poslegm commented on #51
@bjaglin I will be happy to merge your PR 😄

Helpful link is https://github.com/scalameta/scalafmt/issues/417. Scalafmt should ignore all target directory content.

I think about glob filter which will except files with `.../target/...` in path, but it can break code with package name `target` (someone writes a code like that, right?).

So

[2019-10-11 17:46] poslegm commented on #51
Also https://github.com/scalameta/sbt-scalafmt/issues/11 can help with it. Managed sources just not indexed into git 🤷‍♂

[2019-10-11 20:04] bjaglin commented on #51
Thanks for your feedback @poslegm! Great lookup, this is clearly an encore of https://github.com/scalameta/scalafmt/issues/417! And indeed, #11 would also be a way to workaround this, but I understand it's not trivial. I think we can explore https://github.com/scalameta/sbt-scalafmt/pull/54 as a first step!

[2019-10-11 21:05] tanishiking commented on #53
Opened PR https://github.com/scala-steward-org/repos/pull/33

[2019-10-14 11:11] tanishiking commented on #53
scala-steward is working https://github.com/scalameta/sbt-scalafmt/pull/58 😄

[2019-10-14 11:11] #53 closed

[2019-10-14 16:55] #51 closed

[2019-10-18 15:37] sideeffffect opened #62 "sbt-scalafmt doesn't configure ScalafmtDynamicDownloader in order for sbt.override.build.repos to be respected"
If you try to use `sbt-scalafmt` in a CI behind a firewall, with only Nexus/Artifactory-like mirror to `repo1.maven.org`, etc, `ScalafmtDynamicDownloader` won't be able to resolve `scalafmt`, because `repo1.maven.org` is not directly accessible, and the build will fail. Even if you setup sbt with `sbt.repository.config` and `sbt.override.build.repos=true`

sbt-scalafmt should configure ScalafmtDyn

[2019-10-18 15:52] poslegm commented on #62
Related issue https://github.com/scalameta/scalafmt/issues/1521

[2019-10-22 21:35] poslegm commented on #9
I find it acceptable to close this issue after incremental formatting introduction. Further perfomance problems and proposals can be documented as separate issues.

[2019-10-22 21:35] #9 closed

[2019-10-22 22:04] poslegm commented on #5
I can't reproduce it with `sbt-scalafmt` v2.2.0 and `scalafmt` v2.2.0. Feel free to reopen this issue  if I missed anything.

[2019-10-22 22:04] #5 closed

[2019-12-02 17:25] rtoomey-coatue opened #71 "ScalafmtSbtReporter suppresses real source of error"
**sbt-scalafmt** version: 2.2.1
**TL;DR** I believe I found a metaconfig issue, but in the meantime, it would be nice to have a plugin setting which disables `ScalafmtSbtReporter` so you don't have to publish local to figure out what is really going wrong.  🙏  Would happily contribute if you feel this is worthwhile.

### What happened

I'm trying to debug an error where `sbt scalafmtSbt` is failin

[2019-12-02 17:40] poslegm commented on #71
I understood your problem. What about setting `detailedErrors` which would be provided into reporter and will make it print full stacktrace [here](https://github.com/scalameta/sbt-scalafmt/blob/bbbfa26790219bc4aefbda23b29ec13f3f533d52/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtSbtReporter.scala#L20)?

We can print something like `Set detailedErrors := true in your build.sbt for full stacktrace

[2019-12-06 17:35] rtoomey-coatue commented on #2
Crude POC using `Global / onLoad` with sbt 1.3.x - done in my own project as an autoplugin.  Has "double pass" behavior if changes are detected:

[code]

Note that I excluded `ScalafmtOnLoad.scala` using `project.excludeFilters` out of fear of infinite loop 😊

1. sbt detects changes, reloads
2. `onLoad` fires `scalafmtSbt`, build files are formatted (i intentionally added a changes that would get

[2019-12-16 13:36] pauljamescleary opened #75 "Have scalafmt warn instead of error (or option)"
Is it possible to configure scalafmt to warn instead of error?  We have certain unavoidable `search state exploded` and would be great if we could skip that instead of `format off`

[2019-12-16 15:17] poslegm commented on #75
Currently there is no configuration for it. Why don't you want to `// format: off` problem code?

[2019-12-16 16:14] pauljamescleary commented on #75
@poslegm I am updating an in-house common custom plugin that is on an old version of scalafmt that only does **warn**.  That custom plugin pulls in scalafmt and is currently used by many projects.  if any project takes the update they would have to `// format: off` which makes it unlikely they would take the upgrade.

I would be happy to contribute if someone can point me in the right direction.

[2019-12-16 17:18] poslegm commented on #75
Ok, I understand you.

I suppose that plugin ends with error because of `SearchStateExploded` exception on [formatSources](https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L155) and [checkSources](https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L221) calls. You can try

[2019-12-16 18:19] pauljamescleary commented on #75
@poslegm the "custom" plugin simply pulls in scalafmt but older in this case.  It isn't code, just a way to enforce standards.

[2019-12-17 22:23] paulkore opened #136 "Tasks "scalafmtCheckAll" and "scalafmtAll" take the same amount of time to run"
Not sure if this issue has been raised before, apologies if it's a duplicate.

We're currently evaluating Scalafmt for use in our project. The code statistics are as follows, according to sbt-stats:
[code]

We've noticed that "scalafmtCheckAll" and "scalafmtAll" take the same amount of time to run.
In our case, ~33 seconds each (on a modern MacBook Pro).

Based on this we suspect that both tasks d

[2019-12-18 01:17] tanishiking commented on #75
@pauljamescleary Thank you for reporting!
Since `SearchStateExplodedException` comes from [here](https://github.com/scalameta/scalafmt/blob/d632143e838e829028a977ae3ce9b6b20524f7e0/scalafmt-core/shared/src/main/scala/org/scalafmt/internal/BestFirstSearch.scala#L210-L220),

Adding the following options might help you :)

[code]

Though changing those options can cause slow formatting(better than ju

[2019-12-18 11:28] poslegm commented on #75
As far as I know it can be made only by manual exception handling on `Scalafmt.format` calls for every file. There is no built-in configuration for warn producing.

[2019-12-18 15:50] pauljamescleary commented on #75
thanks @tanishiking , I will tinker with those settings to see if that helps.  I still think it is valuable to be able to set a setting that warns instead of errors.  Like, walk every file and report out in `warn` errors but do not fail.  If this is in scalafmt that would be great

[2020-01-22 16:51] julioz opened #80 "Customize `warnBadFormat` message"
Thanks for `scalafmt`, it's been pretty useful for us!

Following the workflow of one of our teams, we have some specific commands we would like engineers to run before/while formatting their scala codebases; it's been a recurring question what commands are these, and we thought it would be great to [be able to configure the message](https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src

[2020-01-25 12:16] poslegm commented on #80
Hmm... It is easy to implement, but is it really necessary? I think that formatting command in the project README is more simple way to achieve learn your teammates than custom messages in logs.

[2020-01-25 18:36] julioz commented on #80
@poslegm we use it in several projects each with different setups and teams (which makes it 'teaching' a bit more cumbersome). The type of command I have in mind are `make`/`sbt` targets and custom internal tool parameters.

[2020-01-26 15:50] poslegm commented on #80
Ok, I understand you.

Implementation TODO list:
1. Add new `taskKey` ([example](https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L36))
2. Concatenate `taskKey` value with [log message](https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L218)
3. Add `taskKey` description

[2020-01-28 20:46] sideeffffect opened #81 "Version 2.3.1 didn't get published"
https://travis-ci.org/scalameta/sbt-scalafmt/jobs/642724103

[2020-01-29 23:16] poslegm commented on #81
Available at Maven Central now

[2020-01-29 23:16] #81 closed

[2020-02-04 12:01] milanvdm commented on #62
We have the same issue on our CI environment with a mirror artifactory. It pulls in the plugin correctly but the moment it tries to format, it hangs for a long time to error that it cannot resolve scalafmt version.

[2020-02-25 14:03] paulkore opened #86 "Can there be more verbose output from `scalafmtCheckAll` ?"
Hello,

When running `scalafmtCheckAll` in sbt, the output is one warning per file:
[code]

Is it currently possible to get more verbose output, including human-readable descriptions of each formatting issue?

For example, something like this:
[code]

[2020-02-25 15:33] poslegm commented on #86
There is `scalafmt --test` command with verbose output in scalafmt-cli. sbt plugin has not this option now.

We can look at CLI implementation and do the same in the plugin.

[2020-02-25 15:48] paulkore commented on #86
Thanks for the answer!

[2020-03-05 19:37] tomasherman commented on #62
#87 fixed the issue for us 🎉

[2020-04-10 04:15] nigredo-tori opened #90 "Scalafmt on compile races with scaladoc"
This one is tricky to reproduce. I think I've seen it in one of my CI builds (with scalafmt on compile) - the `doc` task has failed, citing missing types from the same project - but it was gone after I've restarted the build. I'm fairly certain that the reason is as follows.

At the moment, Scalafmt is wired into the `compile / compileInputs` task, which relies on `client / Compile / sources`:
[co

[2020-04-10 10:05] #90 closed

[2020-04-10 12:08] poslegm commented on #90
Published v2.3.3

[2020-04-10 13:30] rtimush opened #92 "Compatibility with sbt 1.2.8 and earlier"
Hi,

The latest sbt-scalafmt release (2.3.3) doesn't work with sbt 1.2.8 and earlier anymore, because of https://github.com/sbt/sbt/issues/5049:
[code]

The simplest fix would be to revert #89.

[2020-04-10 14:31] poslegm commented on #92
Sorry for this confusion. I will cut 2.3.4 with fix ASAP

[2020-04-10 14:31] #92 closed

[2020-04-13 07:15] Krever commented on #62
@tomasherman Do you have credentials required by your repository? In our case the repository is properly overridden but credentials are not being used.

[2020-04-14 14:38] #62 closed

[2020-04-14 18:22] poslegm opened #94 "Move to GitHub Actions"
Similar https://github.com/scalameta/scalafmt/issues/1632

[2020-04-27 14:18] poslegm opened #96 "Use ScalafmtSession"
https://github.com/scalameta/scalafmt/pull/1910 introduces `ScalafmtSession` — more performant way of formatter usage.

We need to switch plugin to this mechanism after it will be released.

[2020-05-12 11:16] #96 closed

[2020-05-20 08:55] fabianpage opened #102 "sometimes scalafmt fails to resolve it's dependencies on our ci server"
On our CI server sometimes scalafmt fails to get it's dependencies:

```sbt "clean; assembly;"```
[code]

when we add an update step before the assembly we (so far) never got this error.
```sbt "clean; update; assembly;"```

(nexus.tegonal.com is our maven proxy which needs an auth token to fetch packages.)

[2020-06-09 22:44] sake92 opened #104 "NoClassDefFoundError scala/reflect/api/TypeCreator"
This issue was reported here: https://github.com/sake92/hepek-starter/issues/4

<details>
  <summary>Whole stacktrace</summary>
sbt:root> last Compile / scalafmt
[debug] Change report:
[debug]         Checked: /home/cameron/.workspace/blog/src/main/scala/templates/Templates.scala, /home/cameron/.workspace/blog/src/main/scala/utils/Imports.scala, /home/cameron/.workspace/blog/src/main/scala/site/Ab

[2020-07-08 14:23] BusyByte opened #108 "not using available resolvers"
Plugin version `addSbtPlugin("org.scalameta" % "sbt-scalafmt" % "2.4.0")`

When running scalafmtAll command:

[code]

Note: the above has been anonymized.

I talked to our infra team and they say that the scalafmt plugin is not using the available resolvers/creds so it's getting unauthorized and is the only plugin having this issue.

[2020-07-08 15:15] poslegm commented on #108
Hello! How resolvers are specified in the `build.sbt`?

[2020-07-08 15:36] BusyByte commented on #108
@poslegm

for the build.sbt it is:
[code]

[2020-07-08 15:38] BusyByte commented on #108
@poslegm then in the plugins.sbt it is:
[code]

[2020-07-08 16:09] poslegm commented on #108
Related issue: https://github.com/scalameta/scalafmt/issues/1521 (comments may be helpful)

What version of sbt do you use?

[2020-07-08 16:10] BusyByte commented on #108
@poslegm from build.properties it is `sbt.version=1.3.13`

[2020-07-08 16:14] poslegm commented on #108
And how do you pass credentials to sbt?

[2020-07-08 16:20] BusyByte commented on #108
@poslegm
we set them in `~/.ivy2/.credentials`
and we add `credentials += Credentials(Path.userHome / ".ivy2" / ".credentials")` to `~/.sbt/1.0/global.sbt`

[2020-07-08 16:22] BusyByte commented on #108
@poslegm we also set an environment variable:
`SBT_CREDENTIALS="$HOME/.ivy2/.credentials"`

[2020-07-08 19:24] alexklibisz opened #109 "Specify --mode diff when using plugin"
Hi, we're using this plugin in our org and recently updated from 1.2.0 to the latest version.
This led to very large scalafmt diffs, and we'd prefer to catch up incrementally over time.
It seems that the scalafmt CLI lets you specify `--mode diff` which will only apply scalafmt to the files that are diffed against the main/master branch.
Is there a way to specify this flag in the plugin?
If not, I

[2020-07-09 13:18] poslegm commented on #108
As I understand [here](https://github.com/scalameta/scalafmt/issues/1521#issuecomment-602918296) @ceedubs also faced a credentials problem. @ceedubs may be you can help with it?

@BusyByte now I can only advise you to try moving `credentials += ...` to project's `build.sbt` from `~/.sbt/1.0/global.sbt`, but I am not sure that it will help :(

[2020-07-09 13:50] poslegm commented on #109
Hello! Sadly, there is a global problem with it.

Duplicated issue https://github.com/scalameta/sbt-scalafmt/issues/18, related issue: https://github.com/scalameta/sbt-scalafmt/issues/11

Code for handling `--diff` and another useful CLI flags is located in the [scalafmt-cli](https://github.com/scalameta/scalafmt/blob/d87c4eef6feac4303c17791bc50af3a812182264/scalafmt-cli/src/main/scala/org/scalafm

[2020-07-09 14:08] ceedubs commented on #108
@BusyByte I'm not sure that I can shed any light on what's going wrong for you, but I can tell you the setup that we have that _is_ working for us with our Artifactory server. I'm not sure that it should be necessary to set these values, but it works so I'm not touching it 😛. We are configuring the SBT `repositories` and `credentials` in a somewhat normal way but then we are also setting the follo

[2020-07-09 15:20] BusyByte commented on #108
@ceedubs ok I'll review this and give it a shot and see if it resolves the issue.  It may be a bit before I get back to you but I'll report back my results.

[2020-07-10 02:21] alexklibisz commented on #109
@poslegm I see, thanks for the explanation. I have a follow up question: there are already some runner params that work from the scalafmt file, e.g. `runner.debug`. I figured maybe `runner.mode` would be a similar mechanism. Is the `runner` completely distinct from the `cli`?

[2020-07-10 12:25] poslegm commented on #109
It's a name collision. `ScalafmtRunner` from CLI module reads files and pass it to formatter. `runner` from config describes formatter parameters (parsing dialect, max iterations count, verbose logging, etc)

[2020-07-13 15:32] BusyByte commented on #108
@ceedubs adding COURSIER_CREDENTIALS and COURSIER_REPOSITORIES did not help.  still seeing the unauthorized downloading the artifacts from artifactory.
We did find a work around is to add `maven-central` to our repositories file which causes it to bypass artifactory.  Not ideal as it has downsides but it works.

[2020-07-22 10:17] cbcoutinho opened #113 "Plugin missing for scala 2.11 and 2.13"
This plugin is only available for projects using scala 2.12. Others based on 2.11 or 2.13 result in the following resolver error because it isn't available via maven.

I don't see any available sbt-scalafmt plugin for 2.11 or 2.13 on [maven](https://repo1.maven.org/maven2/org/scalameta/), but I'm also not a regular java/scala dev so not sure if this is the right place to look.

[code]

[2020-07-22 10:25] poslegm commented on #113
scalafmt plugin should not rely on Scala version of project. How do you add it into your `plugins.sbt`?

[2020-07-22 10:28] cbcoutinho commented on #113
I have the following line in my `~/.sbt/1.0/plugins.sbt`
[code]

[2020-07-22 10:32] poslegm commented on #113
What happens if you add this line to `project/plugins.sbt`?

[2020-07-22 10:38] cbcoutinho commented on #113
The same issue as the global plugin - It works if the scala version is
2.12.x, but not for 2.{11,13}.x

On Wed, Jul 22, 2020 at 12:33 PM Mikhail Chugunkov <notifications@github.com>
wrote:

[2020-07-22 11:23] poslegm commented on #113
It's strange. Can you please provide content of your `build.sbt`, `build.properties` and `plugins.sbt` files?

[2020-07-22 17:33] cbcoutinho commented on #113
I think I found my mistake: my global plugin file was not in a `plugins` subdirectory

I had
[code]
And should have been
[code]

[2020-07-22 17:33] #113 closed

[2020-07-28 14:30] codan84 opened #114 "Error when no version specified in config"
According to docs it should use latest by default. The actual behaviour is an error when this value is missing in config.
[code]

[2020-07-29 17:24] #114 closed

[2020-07-29 17:25] poslegm commented on #114
Thank you for report. I will release version with fix soon

[2020-08-24 16:53] nicl opened #118 "scalafmtCheckAll doesn't output anything when added as a dependency"
Caveat I'm still learning SBT, but I've got:

[code]
in my settings, and I was hoping the command would fail (with relevant output) when running `test`. But I don't get any output from scalafmt - it seems like it runs in the background but is ignored.

In contrast, if I run `scalafmtCheckAll` directly from sbt I get the expected errors printed out.

Is there a way I can retain the output and ensur

[2020-08-24 17:39] nicl commented on #118
Closing as I would like to understand this further first.

[2020-08-24 17:39] #118 closed

[2021-01-27 19:41] bbstilson opened #131 "v"

[2021-01-27 19:41] #131 closed

[2021-01-27 19:41] bbstilson commented on #131
Sorry, I tapped my yubikey 😓

[2021-02-18 02:36] lvauthrin commented on #108
I'm not sure if I ran into the same issue or not, but I was having trouble resolving artifacts via Artifactory when scalafmt was running.  I created a credentials file and set the `COURSIER_CREDENTIALS` env var to point to it and that seemed to fix my issue.  Perhaps there's a place where the credentials still need to be linked?

Sbt version: 1.4.4
Scalafmt version: 2.4.2
Sbt-scalafmt version: 2.3

[2021-02-24 20:16] pshemass commented on #108
@BusyByte I spent two days debugging this and I figured out that to work with our Artifactory setup I had to add `pass-on-redirect` and `auto` properties.

create `credentials.properties` in home directory
[code]

then you should be able to
[code]

[2021-04-30 16:14] JennyLeahy opened #137 "Getting warning message after upgrade to sbt 1.5.0"
While upgrading to sbt 1.5.0, I got following warning:
[warn] sbt 0.13 shell syntax is deprecated; use slash syntax instead: my_project / Test / scalafmtCheck

It's only a warning, but it would be nice not to see it.

[2021-05-04 14:24] smarter opened #138 "Error messages from scalafmt should clearly be marked as such to not be confused with compiler error messages"
If I add sbt-scalafmt with an empty .scalafmt.conf to https://github.com/scala/scala3-example-project and run `scalafmt` I get:
[code]
Here it's clear that these errors come from scalafmt since that's the command I ran, but if I also set `scalafmtOnCompile := true` as some projects do, then these errors will show up in the output of `compile` and look like compiler errors. I've seen at least one p

[2021-06-20 18:32] muhammedbehram commented on #71
Hello,
I just started to inspect the source code of this repository and I have some questions to ask. Also, this is the first time that I contribute to an open-source code.

Firstly, I saw that when throwing an exception [here](https://github.com/scalameta/sbt-scalafmt/blob/27777fac041a5f789ffe45950c266377bbe24d0a/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtSbtReporter.scala#L19), it is actuall

[2021-06-20 21:57] poslegm commented on #71
Hello!

1. I think that it's ok to define something like
[code]
and throw it.
2. You can use [scalafmtOnCompile](https://github.com/scalameta/sbt-scalafmt/blob/27777fac041a5f789ffe45950c266377bbe24d0a/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L40-L43) as a reference for new flag. Is there any reasons to not define it in the `autoImport` object near other keys?

[2021-06-21 06:41] muhammedbehram commented on #71
Thank you for the response!

Actually, there are none. Somehow I felt like `Scalafmt` was a class rather than an Object. I missed that when I first read the code. I'll create another key inside `autoImport`.

[2021-06-29 20:32] vasigorc opened #141 "Unable to download Scalafmt sbt plugin in CI"
- **Version (of the sbt plugin)**: 2.4.0
- **Integration**: IntelliJ
- **Configuration**:
[code]

## Steps

Running this command in CI:
[code]

I am unable to download the plugin with the following message:

[code]

## Other important parameters

[code]

## Notes

I also tried to adjust plugin version to scala version like this, but that didn't help.
[code]

[2021-07-08 21:24] poslegm commented on #94
Done

[2021-07-08 21:24] #94 closed

[2021-07-08 21:32] poslegm commented on #71
Will be released in `v2.4.3`

[2021-07-08 21:32] #71 closed

[2021-08-29 00:09] asarkar opened #145 "SBT plugin fails without .scalafmt.conf"
- **Version**: sbt-scalafmt:2.4.3
- **Integration**: SBT/IntelliJ
- **Configuration**: N/A

Without a `.scalafmt.conf`, the task `scalafmtCheckAll` fails; an empty file makes it work. I didn't check the other tasks.

[code]

[2021-08-29 23:48] poslegm commented on #145
Hello! What is expected behavior? Config file is necessary for formatting.

[2021-08-30 00:33] asarkar commented on #145
The expected behavior is the same as that for an empty config file.

[2021-08-30 13:53] nikoplusx commented on #62
I am using sbt 1.5.1 and this error still occurs

[2021-10-08 07:23] paulo-coutinho opened #152 "Don't format custom package with includePaths"
This template is a guideline, not a strict requirement.
- **Version**: 3.0.6
- **Integration**: Terminal direct
- **Configuration**:
[code]

## Steps

Given code like this:
[code]

When I run scalafmt like this:

[code]

## Problem

Scalafmt formats code like this:
[code]

## Expectation

I would like the formatted output to look like this:
[code]

## Notes

My file is not inside `src/main`, but i

[2021-10-27 06:25] ckipp01 opened #154 "Formatting sbt files formats metals.sbt even though it's in the .gitignore"
- **Configuration**:
[code]

## Problem

I'm not fully sure what changed, but as of the last release it seems that I can't get scalafmt to respect my gitignore settings to not format my `metals.sbt` settings. I have pretty much the same settings as I've always had, but now I'm always getting those file reported as formated like so:

[code]

This happens when I run `scalafmtSbt` via sbt using the 2

[2021-10-31 17:41] poslegm commented on #154
Hello! Last release has nothing to do with this issue, because sbt plugin doesn't support `project.git` at all. Related old issue: https://github.com/scalameta/sbt-scalafmt/issues/11. The trouble is that `project.git` code written in `scalafmt-cli` module, so it can't be used as dependency in this plugin (and other build tool integrations). The solutions requires a large refactoring and I haven't

[2021-10-31 18:10] ckipp01 commented on #154
Ahhh I didn't know this. 🤔 no idea why this is only popping up for me now this, as this should have happened to me all along. Any idea why the last release would have caused this to surface?

[2021-10-31 22:49] poslegm commented on #154
I tried to downgrade scalafmt on your example project and receive same result 🤷🏻‍♂️

[2021-11-08 14:45] daddykotex commented on #108
This is an old issue but I'll post my findings anyway.

- sbt-scalafmt: 2.4.5
- io.coursier.interfaces: 0.0.17 (embeded coursier: v2.0.0-RC5-6)
- sbt: 1.5.5

At work, we have a very constrained setup:

- we only have access to our internal repository (that's not entirely true, but for the purpose of this issue, it is)
- so our setup include `sbt.override.build.repos=true` and a strict list of repo

[2021-11-08 14:48] daddykotex commented on #108
I have some suggestion on how to improve the situation:

1. support for the same properties format as sbt/via (maybe via a fallback) in coursier cc @alexarchambault
2. passing `sbt allCredentials` (that matches the repositories in `fullResolvers` to `coursier`)

[2021-11-09 19:10] poslegm commented on #109
Yes! Thank you. I will try to use it in the plugin soon.

[2021-11-09 19:24] kitbellew commented on #154
@poslegm this change might be helpful (to check `project.git`), along with the git functionality released in 3.1.0: scalameta/scalafmt#2880

[2021-11-10 17:27] kitbellew commented on #152
@poslegm could it be that `IntegrationTest` is not included on this line:
https://github.com/scalameta/sbt-scalafmt/blob/master/plugin/src/main/scala/org/scalafmt/sbt/ScalafmtPlugin.scala#L480

[2021-11-13 15:05] #145 closed

[2021-11-13 15:15] #136 closed

[2021-11-13 15:18] #12 closed

[2021-11-14 16:10] kitbellew commented on #152
@paulo-coutinho can you try this with sbt-scalafmt-2.4.3+16-c6009e68-SNAPSHOT?

[2021-11-18 18:55] sebarys commented on #152
I had similar issue and solved it by adding `scalafmtConfigSettings` (as described here https://scalameta.org/scalafmt/docs/installation.html#enable-integrationtest )
to sbt `Configuration` that is taking care of files that should be formatted e.g. in case of IntegrationTest config
[code]

[2021-11-18 20:29] kitbellew commented on #152
@sebarys can you try if a recent build (like sbt-scalafmt-2.4.3+16-c6009e68-SNAPSHOT) solves the problem without explicit `inConfig(...)`

[2021-11-18 20:52] paulo-coutinho commented on #152
Hi,

How can i use this version @kitbellew?

I tried:

[code]

and

[code]

Can you help me?

[2021-11-18 21:09] kitbellew commented on #152
I don't know, unfortunately. I don't use sbt myself, and in maven it works. Maybe the repository is incorrect.

[2021-11-18 21:11] kitbellew commented on #152
try 2.4.4, it should be published in a few minutes.

[2021-11-18 21:39] paulo-coutinho commented on #152
Hi,

I tried version 2.4.4 and it worked without:

[code]

Thanks.

[2021-11-18 21:41] #152 closed

[2021-11-22 14:42] daddykotex commented on #137
Can you update your project build following the sbt update?

I don't know enough about your project to know when/why the warning is triggered, but if:

- it's when you do `my_project/test:scalafmtCheck`, then you should do `my_project/Test/scalafmtCheck`
- it's when you start sbt, then your build definition needs to be updated, i.e. `someSetting in scalafmtCheck := ...` needs to become `scalafmtCh

[2021-11-30 19:42] #11 closed

[2021-11-30 19:42] #18 closed

[2021-11-30 19:42] #109 closed

[2021-11-30 19:42] #154 closed

[2021-12-02 17:07] #138 closed

[2021-12-03 21:32] #75 closed

[2021-12-06 08:22] ckipp01 opened #180 "Using `project.git` now causes no files to be formatted"
I believe there was a regression introduced with the recent changes to the take into account the `project.git` setting. I can a reproduction repo [here](https://github.com/ckipp01/sbt-scalafmt-issue) that you can just clone and run `sbt scalafmtAll`.

### What happens

I have a single file that looks like this:

[code]

I have a config that looks like this:

[code]

When I run `sbt. scalafmtAll` i

[2021-12-06 15:53] eliax1996 opened #181 "Diff mode doesn't work with remote branch"
I tried to check the formatting only of the files involved in modifications to the git origin.
What I want to achieve was to enforce formatting only for the files edited in the current feature branch by checking which files to edit based on the remote `develop` branch.
But, if in my project if I set in the sbt variable as follows:

[code]

and I launch `sbt scalafmtCheck` or `sbt scalafmtCheck` th

[2021-12-08 02:28] kitbellew commented on #180
@ckipp01 i am sorry, i can't reproduce. checked out your repo (thank you for going to these lengths):
[code]

is it possible there's a problem with running a `git` process within `sbt`?

[2021-12-08 07:45] ckipp01 commented on #180
I went back and tried again today... and it works. No idea what was going on when I tried this, but thanks for looking into it and sorry for the noise!

[2021-12-08 07:45] #180 closed

[2021-12-08 11:25] kitbellew commented on #181
@eliax1996 can you create a small repo which demonstrates the error? there was a similar issue #180 but it somehow went away...

[2021-12-14 18:50] #86 closed

[2021-12-15 14:26] daddykotex opened #189 "Bumping from 2.4.4 to 2.4.5, scalafmtCheckAll ignores badly formatted files if git is not setup and config says otherwise"
Hi,

Thanks for sbt-scalafmt. We use it extensively. I create this issue mostly for documentation purposes because I guess we won't be the only to have this issue. We have an in-house sbt plugin that uses sbt-scalafmt. Bumping from 2.4.4 to 2.4.5, one of our test started to fail.

The test contains one source file that is badly formatted. When sbt runs the test, it copies everything into a new dir

[2021-12-16 03:25] kitbellew commented on #189
@daddykotex should you remove `project.git = true` if git is not set up and thus not used? the only purpose of that setting is use git to determine which files should be formatted.

[2021-12-16 03:34] daddykotex commented on #189
I understand that, and git is used in all of our projects. The issue only
happen in this sbt-plugin test where the project directory is copied
outside of the project directory (into a temporary folder) to run the test.

It's similar to what you have in this project's test suite (p17) where you
init git before running the test.

Now, I could probably update the config but its generated and all of o

[2021-12-16 03:57] kitbellew commented on #189
@daddykotex understood, thank you. is there a recommended solution?

[2021-12-16 04:00] kitbellew commented on #189
also, it's possible that the next version will work. in #183, git is within Try and falls back to no filtering.

[2021-12-16 04:18] armanbilge opened #190 "`shared/` sources for cross-platform projects ignored in 2.4.5"
It seems after bumping from 2.4.4 to 2.4.5 sources in `shared/` folders (used for JVM/JS cross-platform projects) are being ignored. See this PR for a reproduction:
- https://github.com/typelevel/feral/pull/100

Related to https://github.com/scalameta/sbt-scalafmt/issues/189?

[2021-12-16 13:07] kitbellew commented on #190
do you also copy files outside of git tree? if you run sbt locally, does it work? if you run scalafmt binary, not via sbt, does it work?

[2021-12-16 13:28] daddykotex commented on #189
We have a sbt-test, that runs in a layout like this:
[code]

I updated the `test` file with the following diff:
[code]

If the generated config did not contain `project.git = true`, I assume no problem would have happened. But the configuration contains it because all of our project are on git. So instead of adding logic to update the config, I made sure that, during this particular test, we setup

[2021-12-16 13:28] #189 closed

[2021-12-16 13:38] armanbilge commented on #190
No, I don't copy files out of the git tree.

I realized the issue after running scalafmt via the metals menu option, and realizing it was formatting files that sbt was ignoring.

[2021-12-16 13:44] kitbellew commented on #190
still, if you run the scalafmt binary (not metals or any other integration but the actual CLI), does it work? https://scalameta.org/scalafmt/docs/installation.html#cli

[2021-12-16 13:49] armanbilge commented on #190
Thanks for the pointer. Yes, running the `scalafmt` binary directly also works.

[2021-12-20 03:37] igibek opened #191 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 20:12] poslegm commented on #191
`release.yml` [uses](https://github.com/scalameta/sbt-scalafmt/blob/master/.github/workflows/release.yml#L10) checkout/v2 already.

[2021-12-20 20:12] #191 closed

[2021-12-24 06:42] kitbellew commented on #181
can't reproduce. please re-open if you can help recreate the problem.

[2021-12-24 06:42] #181 closed

[2021-12-24 08:00] kitbellew commented on #180
@ckipp01 did you have a project with multiple source directories (possibly a cross-project build with `shared` and platform-specific)?

[2021-12-24 08:21] ckipp01 commented on #180
Hey @kitbellew when I first came across this issue it was just a single module project. But since then I've never been able to reproduce. So it seems it was jus something odd for me locally at the time.

[2021-12-25 01:13] #190 closed

[2021-12-25 01:21] armanbilge commented on #190
Thanks for fixing! ❤️

[2021-12-27 20:32] alexklibisz opened #205 ""fatal: bad revision 'main'" in Jenkins after updating from 2.4.5 to 2.4.6 with scalafmtFilter diff-ref"
Hi, I'm trying out the new scalafmtFilter setting, set like this:

[code]

Then I run:

[code]

When I run this on 2.4.5, it works as expected. When I run on 2.4.6, it fails with the following error:

[code]

Both versions work locally. This error only happens in Jenkins, which I suppose might be using a different clone/checkout strategy than my local repo.

LMK if you have any more information or

[2021-12-28 10:50] kitbellew commented on #205
since in Jenkins no files would likely be changed, you will end up formatting nothing. what are you trying to accomplish?

as to the error: the plugin executes git, reports the error.

[2021-12-28 12:47] kitbellew commented on #205
also, you can set logging to debug and get more insight.

[2021-12-28 15:21] alexklibisz commented on #205
I'm running `scalafmtCheckAll`. I want to check if all files that have changed with respect to the `main` branch are formatted. If any file has changed with respect to `main`, the `sbt scalafmtCheckAll` command should exit with a failure.

Did something change in how it executes git between 2.4.5 and 2.4.6? Again, 2.4.5 works fine, 2.4.6 fails.

I can try that out.

[2021-12-28 16:39] kitbellew commented on #205
perhaps you want `origin/main`, not `main`?

Yes; earlier, any git failures were silently ignored and now they are explicitly reported. It's likely that it didn't work with 2.4.5 but you didn't know that.

[2021-12-28 17:44] alexklibisz commented on #205
I think that's what was happening.

Adding the `origin/` prefix seems to have fixed the issue. Thanks!

[2021-12-28 17:44] #205 closed

[2022-01-20 16:56] eallovon commented on #114
Hello,
This bug re-appeared in v2.4.4

I'm using sbt-scalafmt
- with v2.4.2: I can run scalafmtCheck
- with v2.4.3: I can run scalafmtCheck
- with v2.4.4 (till 2.4.6): when I run scalafmtCheck I get the error:
[code]

[2022-01-20 17:02] eallovon opened #211 "Error when no version specified in config"
Hello,
There is a regression since v2.4.4, bug #114 was re-introduced (or doc was not updated :-)).

It was re-introduced by commit 560d8519038f3d9281098a36e9273aad8288b0db

I'm using sbt-scalafmt I don't have the version in .scalafmt.conf and as said [in the doc](https://scalameta.org/scalafmt/docs/installation.html#sbt) it should use the latest version
- with v2.4.2: I can run scalafmtCheck
- wi

[2022-01-21 05:39] kitbellew commented on #211
we will update the doc. explicit version and dialect are now mandatory:
https://scalameta.org/scalafmt/docs/configuration.html#version

[2022-01-21 05:39] #211 closed

[2022-03-01 11:19] dylandoamaral opened #218 "Wrong comments formatting with "=" as a first character"
Hi,

The following code is not correctly formatted:

[code]

When I run scalafmt it becomes:

[code]

I can reproduce it with this minimal configuration:

[code]

I use sbt-scalafmt 2.4.6 and I know it works from scala code using `"scalafmt-dynamic" % "3.3.0"` which is weird since the sbt plugin uses this version 🧐

[2022-03-09 17:25] bblfish opened #219 "Trouble using SNAPSHOT of Scalafmt"
I am able to get a very recent version of scalafmt SNAPSHOT to work with the command line interface but not with the sot-plugin, as reported in https://github.com/scalameta/scalafmt/issues/3154

The first commit to the Pull Request https://github.com/co-operating-systems/Reactive-SoLiD/pull/21 show the exact version of sbt used.

If I have `version = "3.4.3+23-1483abef-SNAPSHOT"` in the `.scalafmt

[2022-03-11 14:10] #219 closed

[2022-04-11 17:56] shonfeder opened #222 "Uncaught `Missing token index` error since upgrade to scalafmt-core 3.5.0"
We've been experiencing an uncaught exception in runs of `scalafmtCheckAll` when trying to upgrade scalafmt to version 3.5.0. I was not able to reproduce using the scalafmt CLI alone, so am reporting the issue to the sbt plugin repo, as instructed in the scalafmt issue template.

## Synopsis

We hit the following error:

[code]

With the following configs:

`.scalafmt.conf`:

[code]

`build.sbt`:

[2022-05-05 06:59] ivan-brko opened #224 "Formatting breaks the code with combination of interpolated string and escaped quotations mark"
## Configuration (required) ##
[code]

## Steps

Given code like this:
[code]

## Problem

Scalafmt formats code like this:
[code]

## Issue
Formatting this code inserts spaces between `$` and `{` and also `\` and `"` which makes the code invalid.

[2022-05-05 15:20] ivan-brko commented on #224
I'll open another ticket there once I catch some time to install scalafmt binary and reproduce the issue. This is definitely happening, the reason for this big weird indentation is because I copy/pasted this snippet from my project code which is indented.

[2022-06-01 02:34] #224 closed

[2022-06-01 02:35] #137 closed

[2022-06-01 02:47] #102 closed

[2022-06-01 02:49] #141 closed

[2022-11-17 17:40] mcanlas opened #245 "Does this work with ammonite scripts?"
Is running `scalafmt` in `sbt` expected to touch ammonite scripts in the same repo/project? I can't get it to work for me and I'm unsure what preconditions I'm missing. Googling for `ammonite` seems to imply that `scalafmt` does work but what about via `sbt`?

[2022-11-20 12:08] ckipp01 commented on #245
I don't believe it will. Since it's an sbt project it'll probably only touch sources that sbt knows about, and since Ammonite scripts are standalone from the sbt project, sbt won't know about it.

That being said, if you'd instead use `scalafmt` cli on  your project I believe it would.